body {
    background-color: black;
    text-align: center;
    font-family: verdana;
    font-size: 42px;
    color: white;
}

.header p {
    font-family: Verdana;
    font-weight: normal;
    color: white;
    text-align: center;
    font-size: 50px;
}

.container a {
    color: aquamarine;
    font-size: 16px;
}

.banner {
    font-family: verdana;
    font-weight: 300;
    font-size: 42px;
}



#heading {
    font-family: verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    font-size: 21px;
    color: gray
    
    ;
}